// fonts
.fp {font-family: 'Exo 2',sans-serif;} // font primary
.fh {font-family: 'Exo 2',sans-serif;} // font header
.fi {font-family: 'Exo 2',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@red: #e0181c;
@orange: #ff8000;
@cp: #000; // color primary
@cl: @red; // color link

// font sizes
@fsp: 18px; // font size primary
@fsh1: 34px; // font size h1
@fsh2: 30px; // font size h2
@fsh3: 26px; // font size h3
@fsh4: 22px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;