#page-header {
	min-width: @content-width;
	background: @red url(../images/bg/01.jpg) no-repeat top;
	.inner {
		position: relative;
		z-index: 1;
		border-bottom: 1px solid #fff;
	}
	.logo {
		float: left;
		a {
			display: block;
			width: 201px;
			height: 42px;
			margin: 32px 58px 0 0;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat center;
			&:hover{
				background-size: 96% 96%;
			}
		}
	}
	.slogan {
		float: left;
		color: #fff;
		font-weight: 300;
		font-style: italic;
		font-size: 25px;
		margin: 40px 0 10px;
	}
}
#page-footer {
	padding: 44px 0;
	border-top: 1px solid #cccbcb;
	.copy {
		text-align: center;
		font-size: 13px;
		a {
			text-decoration: none;
			color: @cp;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.xart {
		margin: 30px 0;
		font-size: 11px;
		text-transform: uppercase;
		text-align: center;
		a {
			color: @cp;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			display: inline-block;
			margin: 15px 0;
		}
	}
}
#col-main {
	width: 600px;
	padding: 40px 0;
	float: left;
}
#col-right {
	width: 240px;
	padding: 40px 0;
	float: right;
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(25px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:13px;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\02c6';
			font-size: 60px;
		}
		&:hover{
			background: @orange;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}